		body {
			font: 80% arial, helvetica, sans-serif;
			margin: 0;
		}
		
		h2 {
			margin-top: 0;
		}
		
		#navigation {
			position: absolute;
			left: 0;
			width: 20%;
			/*overflow:scroll;*/
		}
		/*#issueLst {
			float:right;
			width:15%;			
		}*/
		/*.issueItm {
			min-height:100px;
			/*padding:2px;
			border:1px solid gray;
			margin:0;
		}*/
		#content {
			border-left: 20% solid #ccf;
			overflow:scroll;
		}	
